@import "tailwindcss";

:root {
  --slider-animation: slider 12s infinite;
  --fade-animation: fade 4s infinite;
}

@keyframes slider {

  0%,
  33% {
    background-image: url(../img/pingPong.jpeg);
    --text-description: "Muita diversão nos intervalos";
  }

  34%,
  66% {
    background-image: url(../img/cantina.jpg);
    --text-description: "Sempre compro HotDogs deliciosos!!";
  }

  67%,
  100% {
    background-image: url(../img/refeitorio.jpg);
    --text-description: "Muita história e risadas!!";
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  15%,
  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}